name: Deploy Nodes
on:
  push:
    branches:
      - main
      - nm/read-proxy-protocol-header
jobs:
  deploy:
    concurrency: main
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: xmtpeng
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Git Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod

      - name: Push
        id: push
        run: |
          export DOCKER_IMAGE_TAG=latest
          IMAGE_TO_DEPLOY=xmtp/node-go@$(dev/docker/build)
          echo Successfully pushed $IMAGE_TO_DEPLOY
          echo "docker_image=${IMAGE_TO_DEPLOY}" >> $GITHUB_OUTPUT

      - name: Deploy (dev)
        uses: xmtp-labs/terraform-deployer@v1
        timeout-minutes: 45
        with:
          timeout: 45m
          terraform-token: ${{ secrets.TERRAFORM_TOKEN }}
          terraform-org: xmtp
          terraform-workspace: dev
          variable-name: xmtp_node_image
          variable-value: ${{ steps.push.outputs.docker_image }}
          variable-value-required-prefix: "xmtp/node-go@sha256:"

      # - name: Deploy (production)
      #   uses: xmtp-labs/terraform-deployer@v1
      #   timeout-minutes: 45
      #   with:
      #     timeout: 45m
      #     terraform-token: ${{ secrets.TERRAFORM_TOKEN }}
      #     terraform-org: xmtp
      #     terraform-workspace: production
      #     variable-name: xmtp_node_image
      #     variable-value: ${{ steps.push.outputs.docker_image }}
      #     variable-value-required-prefix: "xmtp/node-go@sha256:"
