name: Push to Registry And Deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: xmtpeng
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - uses: actions/setup-go@v2
        with:
          go-version: "1.17.8" # The Go version to download (if necessary) and use.

      - name: Git Checkout
        uses: actions/checkout@v1

      - name: Build and Push to Docker Hub
        env:
          TERRAFORM_TOKEN: ${{ secrets.TERRAFORM_TOKEN }}
        run: |
          IMAGE_TO_DEPLOY=xmtp/node-go@$(make docker-image-multiarch)
          echo Successfully pushed $IMAGE_TO_DEPLOY
          go run ./build/deploy --tf-token=$TERRAFORM_TOKEN --workspace=dev --xmtp-node-image=$IMAGE_TO_DEPLOY --git-commit=$(git rev-parse HEAD)
          echo Successfully deployed
